@import "tailwindcss";




 /* Custom typing animation  */
.typing-home {
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid ;
  width: 0;
  animation: typing 2s steps(48, end) forwards, blink 1s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 13.5ch }
}

@keyframes blink {
  40% { border-color: transparent; }
}

/* Slide-up animation */
.chapter-slideup {
animation: slideUp 2s ease-out;
}
@keyframes slideUp {
0% { transform: translateY(50px); opacity: 0; }
100% { transform: translateY(0); opacity: 1; }
}


/*BUtton animation*/


@layer utilities {
  /* Slide Left */
  @keyframes slide-left {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-left {
    animation: slide-right 2s ease-out forwards;
  }

  /* Slide Right */
  @keyframes slide-right {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-slide-right {
    animation: slide-left 2s ease-out forwards;
  }
}




